<!DOCTYPE html>
<html lang="en">

<head>
    <title>Questions</title>
    </head>
    <body>
        <h2>Questions from the quiz {{table_name}}</h2>
            <table style="background-color: #ccffee;">
              {% for dict_item in result %}
                {% for key, value in dict_item.items() %}
                <tr>
                    <td><p>{{key}}</p></td><td><p> {{value}}</p></td>
                </tr>
                {% endfor %}
              {% endfor %}

            </table>


    </body>
</html>